<p>
  <label><%= l(:label_la_notification_email) %></label>
  <%= text_field_tag 'settings[notification_email]', @settings[:notification_email] %>
</p>
<p>
  <label><%= l(:label_la_audit_rows_per_page) %></label>
  <%= text_field_tag 'settings[audit_rows_per_page]', @settings[:audit_rows_per_page] %>
</p>